<!-- views/partials/reviews-form.handlebars -->

<fieldset>
  <legend>Add Problem</legend>
  <!-- TITLE -->
  <div class="form-group">
    <label for="review-title">Title</label><br>
    <input class="form-control" id="review-title" type="text" name="title" value="{{problem.title}}"/>
  </div>

  <!-- DESCRIPTION -->
  <div class="form-group">
    <label for="review-description">Description</label><br>
    <textarea class="form-control" id="review-description" name="description" rows="10" />{{problem.description}}</textarea>
  </div>

  <div class="form-group">
      <div style="height:0px;overflow:hidden">
       <input type="file" id="fileInput" name="fileInput" />
      </div>
      <button type="button" onclick="chooseFile();">choose file</button>
  </div>
</fieldset>
