<!-- views/partials/problem-form.handlebars -->

<fieldset>
  <legend>Add Problem</legend>
  <!-- TITLE -->
  <div class="form-group">
    <label for="problem-title">Title</label><br>
    <input class="form-control" id="problem-title" type="text" name="title" value="{{problem.title}}"/>
  </div>

  <!-- DESCRIPTION -->
  <div class="form-group">
    <label for="problem-description">Description</label><br>
    <textarea class="form-control" id="problem-description" name="description" rows="10" />{{problem.description}}</textarea>
  </div>

  <div>
        <label for="problem-pic">Upload picture:</label>
        <input type="file"
               id="problem-pic" name="problem-pic"
               accept="image/png, image/jpeg" />
    </div>
</fieldset>

 <!-- part of solution-form:  -->
