<fieldset>
  <legend>Add Solution</legend>
  <!-- TITLE -->
  <div class="form-group">
    <label for="solution-title">Title</label><br>
    <input class="form-control" id="solution-title" type="text" name="title" value="{{solution.title}}"/>
  </div>

  <!-- DESCRIPTION -->
  <div class="form-group">
    <label for="solution-description">Description</label><br>
    <textarea class="form-control" id="solution-description" name="description" rows="10" />{{solution.description}}</textarea>
  </div>

  <div>
        <label for="solution-pic">Upload picture:</label>
        <input type="file"
               id="solution-pic" name="solution-pic"
               accept="image/png, image/jpeg" />
    </div>

  <input type="hidden" class="form-control" value="{{problem._id}}" name="problemId">

</fieldset>
