<!--main.handlebars-->
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title> CollabH </title>
    <script   src="https://code.jquery.com/jquery-3.3.1.min.js"   integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="   crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Fredoka+One" rel="stylesheet">
    <style>
        /*  Fonts */

        /* Styles  */
        body {
            /* box-sizing: border-box; */
            background-color: #F2FAFD;
            font-family: Roboto;
        }

        /* navbar */
        nav {
            display: flex;
            justify-content: space-between;
            background-color: white;
            border-bottom: 1px solid grey;

        }

        .navbar {
            flex-direction: row;
        }

        .navbar-brand {
            font-size: 30px;
            padding-left: 20%;
            font-family: 'Fredoka One', cursive;
        }

        .nav-categories {
            padding-right: 20%;
        }

        /* main login screen */

        .log {
            margin:10%;
            font-size: 20px;
        }

        .log div {
            padding-bottom: 20px;
        }

        .log input{
            padding: 20px;
        }

        .log label {
            padding-bottom: 20px;
        }

        .btn-primary {
            width: 100%;
            padding-top: 20px;
            padding-bottom: 20px;
            font-size: 24px;
            background-color: #33B5E5;
            font-family: 'Fredoka One';
            letter-spacing: 3px;
        }

        small {
            text-align: center;
        }

        /* forms */
        .my-container {
            margin: 10%;
        }

        .new-prob form, .new-prob fieldset, .new-prob.full {
            width: 145%;
        }

    </style>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</head>

<body>
    {{> navbar}}

  <div class="container">
    {{{body}}}
  </div>


</body>

</html>
